<div>
  <div class="flex justify-start p-4">
    <div>
      <h1 class="text-3xl font-bold">Category Previews</h1>
      <p class="text-gray-600 mt-4">
        Use these Tailwind CSS category preview components to highlight various product categories,
        and help customers find out what products are available in your store. These components are
        designed and built by the Tailwind CSS team, and include a variety of different styles and
        layouts.
      </p>
    </div>
  </div>
  <app-collections-list> </app-collections-list>
  <app-workspace-collection> </app-workspace-collection>
  <app-with-split-images> </app-with-split-images>
  <app-scrolling-cards-list> </app-scrolling-cards-list>
  <app-shop-by-category-list> </app-shop-by-category-list>
</div>
