<!-- Sidebar Toggle Button -->
<div class="block 2xl:hidden">
  <div class="w-full h-14 flex items-center justify-start border-b border-gray-200 px-4">
    <button
      class="size-7 rounded-md cursor-pointer hover:bg-gray-100 transition-colors duration-100"
      (click)="toggleSidebar()"
    >
      <i class="pi pi-equals"></i>
    </button>
  </div>
</div>

<!-- Sidebar -->
<nav
  class="fixed flex flex-col justify-start w-80 h-screen p-4 bg-white border-r border-gray-200 overflow-y-auto -translate-x-full 2xl:translate-x-0 z-50"
  [class.translate-x-0]="sidebarOpen"
>
  @for(group of sidebarGroups; track group.label) {
  <div class="mb-4">
    <h3 class="font-medium mb-2 text-gray-700">{{ group.label }}</h3>
    <ul class="list-none p-0 m-0">
      @for(item of group.items; track item.label) {
      <li class="mb-2">
        <app-sidebar-item [item]="item"></app-sidebar-item>
      </li>
      }
    </ul>
  </div>
  }
</nav>
