<div>
  <app-section-header title="With Image Grid"></app-section-header>
  <app-with-image-grid></app-with-image-grid>

  <app-section-header title="With Tiered Images"></app-section-header>
  <app-with-tiered-images></app-with-tiered-images>

  <app-section-header title="With Image Gallery"></app-section-header>
  <app-with-image-gallery></app-with-image-gallery>

  <app-section-header title="Split With Image"></app-section-header>
  <app-split-with-image></app-split-with-image>

  <app-section-header title="With Tabs"></app-section-header>
  <app-with-tabs></app-with-tabs>
</div>
